{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["prettier", "prettier/react", "plugin:react-app/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": ["promise", "compat", "react-hooks"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}